@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
*{
    margin:0;
    padding:0;
    box-sizing : border-box;
}
body{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    border:none;
    background-color: #11001c;
    color:#f0f8ff;
}
.heading{
    margin-top:10rem;
}
.form{
    position: relative;
    margin:5rem;
    width:50vw;
    padding: 2rem;
    border : none;
    border-radius: 20px;
    background-color: #35012c;
}
.input{
    padding: 8px 1rem 8px 8px;
    /* padding-right:1rem; */
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}
.input:focus{
    outline: none;
}
div{
    padding:0.5rem 0;
}
.btn{
    position: absolute;
    top:50%;
    right:0.5rem;
    transform: translateY(-50%);
    background: none;
    cursor: pointer;
    border: none;
}
.btn-wrap{
    position: relative;
    width:100%;
}

.pwd-container{
    display:flex;
    flex-direction: column;
    gap : 4px;
}
.submit{
    width:80%;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    padding: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}
.submit-container{
    display:flex;
    justify-content: center;
    margin-top: 1rem;
}
.d-none{
    display: none;
}
.error{
    border: 2px solid #f0f8ff;
}
.error-message, .empty-field {
    color: #f0f8ff;
    font-size: 0.875rem;
}



